<h1 class="b-title"><span>О нас</span></h1>
<div class="b-user-content">
  <p>
    Компания ООО «ЦЕНТРОСТАЛЬСТРОЙ»&nbsp;одна из наиболее успешных компаний на
    рынке проката с полимерным покрытием в Республике Беларусь уже более 7 лет.
    &nbsp;
  </p>
  <div>
    <br />
    <span class="masha_index masha_index2"></span> Основной деятельностью нашей
    организации является производство на собственном оборудовании
    металлочерепицы «Монтеррей», профнастила С8, МП20 (R, B, A), плоского листа,
    различных цветов и размеров по желанию заказчика, всегда в наличии и под
    заказ доборные элементы кровли и водосточная система.
  </div>
  <div>
    <br />
    <span class="masha_index masha_index3"></span> Всегда рады предложить
    клиентам гибкую систему скидок и приемлемые для вас цены.&nbsp;
  </div>
  <div>
    <br />
    <span class="masha_index masha_index4"></span> Позвоните нам и мы с радостью
    ответим на все интересующие вас вопросы, подскажем и подберем идеальный для
    вас вариант забора, кровли и всей сопутствующей продукции.&nbsp;
  </div>
  <div>
    &nbsp;
    <div>
      <span class="masha_index masha_index5"
        >Решив сотрудничать с ООО «ЦЕНТРОСТАЛЬСТРОЙ» вы получаете:</span
      >
    </div>
  </div>
  <div>
    <span class="masha_index masha_index6"></span>1). индивидуальный и
    внимательный подход к каждому клиенту;
  </div>
  <div>
    <span class="masha_index masha_index7"></span>2). быстрый экономический
    расчет металлочерепицы и профнастила;
  </div>
  <div>
    <span class="masha_index masha_index8"></span>3). гибкая система скидок на
    продукцию для постоянных клиентов;
  </div>
  <div>
    <span class="masha_index masha_index9"></span>4). удобная для Вас форма
    оплаты наличный и безналичный расчет;
  </div>
  <div>
    <span class="masha_index masha_index10"></span>5). Кратчайшие сроки
    изготовления продукции.
  </div>
  <div>
    <span class="masha_index masha_index11"></span>6). Письменная гарантия
    качества на продукцию собственного производства.
  </div>
</div>
<div class="b-about-us">
  <h2 class="b-about-us__title">Информация о компании</h2>

  <div class="b-about-us__row">
    <b class="b-about-us__caption">Название:</b>
    <div class="b-about-us__text">ООО «ЦЕНТРОСТАЛЬСТРОЙ»</div>
  </div>

  <div class="b-about-us__row">
    <b class="b-about-us__caption">Тип компании:</b>
    <div class="b-about-us__text">Производитель, Торговая компания</div>
  </div>

  <div class="b-about-us__row">
    <b class="b-about-us__caption">Количество сотрудников:</b>
    <div class="b-about-us__text">11-50 человек</div>
  </div>
</div>
<div class="b-about-us">
  <h2 class="b-about-us__title">Организационно-правовая форма и капитал</h2>

  <div class="b-about-us__row">
    <b class="b-about-us__caption">Год основания:</b>
    <div class="b-about-us__text">2007</div>
  </div>

  <div class="b-about-us__row">
    <b class="b-about-us__caption">Уставной фонд:</b>
    <div class="b-about-us__text">50 тыс. USD - 200 тыс. USD</div>
  </div>

  <div class="b-about-us__row">
    <b class="b-about-us__caption">Организационно-правовая форма:</b>
    <div class="b-about-us__text">Общество с ограниченной ответственностью</div>
  </div>
</div>
<div class="b-about-us">
  <h2 class="b-about-us__title">Рыночная деятельность</h2>

  <div class="b-about-us__row">
    <b class="b-about-us__caption">Объемы продаж за год:</b>
    <div class="b-about-us__text">1 млн. - 5 млн. USD</div>
  </div>
</div>
<div class="b-about-us">
  <h2 class="b-about-us__title">Информация о производстве</h2>

  <div class="b-about-us__row">
    <b class="b-about-us__caption">Размеры производственных площадей:</b>
    <div class="b-about-us__text">300-1000 кв.м.</div>
  </div>

  <div class="b-about-us__row">
    <b class="b-about-us__caption">Местонахождение производства:</b>
    <div class="b-about-us__text">Минский р-н, п. Колодищи</div>
  </div>

  <div class="b-about-us__row">
    <b class="b-about-us__caption">Контроль качества:</b>
    <div class="b-about-us__text">Внутренний</div>
  </div>

  <div class="b-about-us__row">
    <b class="b-about-us__caption">Кол-во производственных линий:</b>
    <div class="b-about-us__text">4</div>
  </div>
</div>
