<div class="b-page__main-content b-page__wrapper">
  <div class="b-page__content-wrapper">
    <div class="b-page__content">
      <div class="b-page__row">
        <div class="b-dynamic-map">
          <iframe
            data-qaid="google_map"
            class="b-dynamic-map__map"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBY4n5MgqA_AaRypsjq6K3cDFCqfcUzKps&amp;q=53.94360332070326,27.657116359151644&amp;language=ru"
            width="100%"
            height="500px"
            loading="lazy"
          ></iframe
          ><i class="b-dynamic-map__spinner"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="b-contact-info"
  data-tg-ready='[{"ns": "main", "method": "gatrackQueueNi", "args": ["contact_view", "view_contacts", {"label/label": "company_site-contact_view"}], "uuid": "f6215e641744ac5ad223e8f84b11318839964456"}, {"ns": "ga4", "method": "ga4trackQueueNi", "args": ["go_to_contact_page", {}], "uuid": "6433a9be9dc1c99e3e135643f54c68694cee57aa"}, {"ns": "ym", "method": "reachGoal", "args": ["company_contacts_page"], "uuid": false}]'
>
  <h1 class="b-title"><span>Контакты</span></h1>
  <div class="b-page__row b-online-edit">
    <a
      class="b-online-edit__link"
      data-edit-role="companyInfo"
      title="Редактировать контактную информацию"
      style="display: none"
    ></a
    ><a
      class="b-online-edit__vertical-borders"
      data-edit-role="companyInfo"
      style="display: none"
    ></a
    ><a
      class="b-online-edit__horizontal-borders"
      data-edit-role="companyInfo"
      style="display: none"
    ></a
    ><span class="b-contact-info__row" title="Название" data-qaid="company_name"
      >ООО «ЦЕНТРОСТАЛЬСТРОЙ»</span
    ><span
      class="b-contact-info__row"
      title="Контактное лицо"
      data-qaid="contact_person_name"
      >Владилен</span
    >
    <address
      class="b-contact-info__row"
      title="Адрес"
      data-qaid="company_address"
    >
      <span
        class="b-contact-info__comma"
        title="г. Минск, ул. Калиновского 111А, Минск, Беларусь"
        >г. Минск, ул. Калиновского 111А, Минск, Беларусь</span
      >
    </address>
    <div
      id="ID-0dfbb25e-5f45-42f7-8696-cd88569c1043"
      class="b-contact-info__row"
      title="Телефон"
      data-qaid="company_phones"
    >
      <div
        class="b-contact-info__phone-line js-ga-phone-hover"
        data-tg-hovered='[{"ns": "main", "method": "gatrackQueue", "args": ["contact_view", "hover_phones", {"label/label": "company_site-contact_view"}], "uuid": "cec63f85beae20842c7499c7181f9aa43a5b0b2e"}, {"ns": "ga4", "method": "ga4trackQueue", "args": ["hover_phones", {}], "uuid": "4e92a0387e6f34f29450d658153e2311a9a4bd8f"}, {"ns": "ym", "method": "reachGoal", "args": ["company_contacts_hovered"], "uuid": "4e4e38200b10121d2620b45f0cb38f2ce6db161d"}]'
        data-tg-clicked='[{"ns": "ga4", "method": "ga4trackQueue", "args": ["call_phones", {}], "uuid": "0fb6dc9f679fb331c05ab91bc83b3be7618dbfaa"}]'
      >
        <span class="b-contact-info__phone notranslate"
          >+375 (29) 777-77-77</span
        ><span class="b-contact-info__description">велк</span>
      </div>
      <div
        class="b-contact-info__phone-line js-ga-phone-hover"
        data-tg-hovered='[{"ns": "main", "method": "gatrackQueue", "args": ["contact_view", "hover_phones", {"label/label": "company_site-contact_view"}], "uuid": "cec63f85beae20842c7499c7181f9aa43a5b0b2e"}, {"ns": "ga4", "method": "ga4trackQueue", "args": ["hover_phones", {}], "uuid": "4e92a0387e6f34f29450d658153e2311a9a4bd8f"}, {"ns": "ym", "method": "reachGoal", "args": ["company_contacts_hovered"], "uuid": "4e4e38200b10121d2620b45f0cb38f2ce6db161d"}]'
        data-tg-clicked='[{"ns": "ga4", "method": "ga4trackQueue", "args": ["call_phones", {}], "uuid": "0fb6dc9f679fb331c05ab91bc83b3be7618dbfaa"}]'
      >
        <span class="b-contact-info__phone notranslate"
          >+375 (17) 222-22-22</span
        ><span class="b-contact-info__description">гор.</span>
      </div>
    </div>
    <div class="b-contact-info__row" title="Сайт компании">
      <a
        class="b-contact-info__link"
        href="https://profmt.by"
        target="_blank"
        title="https://profmt.by"
        >profmt.by</a
      >
    </div>
    <div class="b-contact-info__row" title="Email">
      <a
        class="b-contact-info__link"
        href="mailto:otm_@tut.by"
        title="otm_@tut.by"
        >otm_@tut.by</a
      >
    </div>
    <span class="b-contact-info__row" title="Skype">vitalyvitmens</span
    ><span class="b-contact-info__row" title="Viber">+375297777777</span>
  </div>
</div>
