.b-manufactures-list,
.b-user-content_light,
.b-user-content_with_bg,
.b-breadcrumb,
.b-product-groups-gallery__title,
.b-product-groups-list__title,
.b-product-groups-list__image-link,
.b-product-groups-list__description,
.b-product-gallery__header,
.b-product-list__info-panel,
.b-recent-vacancies___item,
.b-recent-articles__text,
.b-recent-articles__header,
.b-portfolio-main-page__title-link,
.b-portfolio-list__summary,
.b-portfolio-list__image-link,
.b-portfolio-contacts,
.b-widget-filters,
.b-carousel__header,
.b-carousel__item_similar_products,
.b-similar-products__item,
.b-product__container,
.b-product-view__image-link,
.b-error,
.b-gift-items__item,
.b-gift-items__title,
.b-gift-items__list-title,
.b-order-info,
.b-delivery-info,
.b-publication-group__info,
.b-publication-list__info,
.b-publication-view,
.b-partner-table__cell,
.b-jobs,
.b-jobs__table-cell,
.b-jobs__table-header,
.b-info-table,
.b-promo-list,
.b-photos__title,
.b-photos__image-box,
.b-price-list,
.b-photos-folders__link,
.b-photos-folders__header,
.b-portfolio__gallery-descr-img,
.b-portfolio-view-confirm__wrap,
.b-used-goods__wrapper,
.b-contact-info,
.b-comments__right-column,
.b-comments__left-column {
  padding: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.b-documents__wrapper,
.b-manufactures-list,
.b-user-content_with_bg,
.b-nav__groups-subgroups,
.b-product-groups-gallery__item,
.b-product-groups-list__item,
.b-product-gallery__item,
.b-product-list__item,
.b-recent-vacancies___item,
.b-recent-articles,
.b-portfolio-main-page__item,
.b-portfolio-list__item,
.b-portfolio-contacts,
.b-widget-filters,
.b-carousel,
.b-carousel__item_similar_products,
.b-similar-products__item,
.b-product__container,
.b-error,
.b-product-info,
.b-gift-items,
.b-order-info,
.b-delivery-info,
.b-publication-group__item,
.b-publication-list__item,
.b-publication-view,
.b-partner-table,
.b-jobs,
.b-info-table,
.b-promo-list,
.b-photos__item,
.b-price-list,
.b-photos-folders__item,
.b-portfolio__gallery-item,
.b-used-goods__item,
.b-contact-info,
.b-comments__right-column {
  background: #fff;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 4px solid #f1f1f1;
}
.b-contact-info {
  line-height: 1.385em;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
div {
  display: block;
}
