<div>
  <h3>Шаблонная форма</h3>
  <form #calcForm="ngForm" (ngSubmit)="submitForm(calcForm)">
    <div>Продукция: <input name="product" ngModel /></div>
    <div>Толщина: <input name="thickness" ngModel /></div>
    <div>Цвет RAL: <input name="RAL" ngModel /></div>
    <div>Покрытие: <input name="coating" ngModel /></div>
    <button type="submit">Отправить</button>
    <button (click)="calcForm.reset()">Очистить</button>
  </form>
</div>
<div>
  <h3>Реактивная форма</h3>
  <form [formGroup]="calcFormReact" (ngSubmit)="submitFormReact()">
    <div>Продукция: <input formControlName="product" /></div>
    <div>Толщина: <input formControlName="thickness" /></div>
    <div>Цвет RAL: <input formControlName="RAL" /></div>
    <div *ngIf="calcFormReact.invalid" style="color: red">
      должно быть 4 числа
    </div>
    <div>Покрытие: <input formControlName="coating" /></div>
    <button [disabled]="calcFormReact.invalid" type="submit">Отправить</button>
    <button (click)="calcFormReact.reset()">Очистить</button>
  </form>
</div>
